/* Футер*/
.footer {
  background-color: $bg-color-footer;
  padding-top: 60px;
  padding-bottom: 60px;

  .title-color {
    color: $color-text-white;
  }
}

/* Оформление шрифтов в футере */

.logo-footer {
  margin-bottom: 20px;
  display: flex;
  width: 231px;

  color: $color-text-white;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.accent {
  color: $accent-color;
}

.contacts {
  font-style: normal;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .title-address {
    margin-bottom: 9px;
    display: block;

    color: $color-text-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .title {
    margin-bottom: 9px;
    margin-top: 0px;
    display: block;
    align-items: left;

    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-transform: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
/* Блоки */

/* Общий ul футтера*/

.list-footer {
  @media screen and (max-width: 767px) {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

/* общий */
.social-networks {
  padding: 0px;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.welcome {
  color: $color-text-white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* соцсети */
.social-footer {
  display: flex;
  justify-content: flex-star;
  align-items: center;
  padding: 0px;
  width: 206px;
}

/* Иконки соцсетей*/
.link-instagram,
.link-twitter,
.link-facebook,
.link-linkedin {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }
}

.link-instagram,
.link-twitter,
.link-facebook {
  margin-right: 10px;
}

.icon-instagram-footer,
.icon-twitter-footer,
.icon-facebook-footer,
.icon-linkedin-footer {
  fill: $primary-bg-color;
}

/* Кнопка подписаться */
.button-subscribe {
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  text-align: center;
  border: 1px transparent;

  color: $color-text-white;
  background-color: $accent-color;
  border: $accent-color;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: flex-star;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    margin-top: 0px;
  }
}

.icon-send {
  fill: $primary-bg-color;
  margin-left: 10px;
}

.subscribe {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.subscribe-email {
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $bg-color-footer;

  padding-left: 16px;
  color: $color-text-white;
}

.subscribe-section {
  @media screen and (max-width: 767px) {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    justify-content: flex-star;
    align-items: center;
  }

  .input {
    &::placeholder {
      font-weight: 400px;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.footer-block {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
