.header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.conteiner-header {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.site-nav {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    .item {
      margin-right: 50px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    .item {
      margin-right: 50px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.current {
      color: $accent-color;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.auth-nav {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    margin-left: auto;
  }

  .item {
    &:hover {
      fill: $accent-color;
    }
  }

  .link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.icon-smartphone {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

/* Иконки конверт и телефон */
.envelope {
  border: none;
  margin-right: 10px;
  background-color: $primary-bg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
}
.smartphone {
  border: none;
  margin-right: 10px;
  background-color: $primary-bg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
}
/* Подчеркивание в меню */
.underline {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: $accent-color;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0px;
    padding: 0px;
  }
}
.link-studio {
  position: relative;
}
