$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$color-text-white: #ffffff;
$primary-bg-color: #ffffff;
$bg-color: #f5f4fa;
$bg-color-footer: #2f303a;
$bg-color-portfolio: #e5e5e5;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
